h1 I love React JS :) 
p Hi #{name}! 
p To complete the registration in "I Love ReactJS" click on the following link:
|
|
- var url = 'user/completeregister/';
a (href='/' + url, style={color: 'red', background: 'green'}) Link to confirm registration
|
|
p This email was generated for the email #{email}, if it is not you, please ignore this email.