html 
    head
       style.
            header{
                background:#572364;
                text-align:center;
                border-style:solid;
                border-width: 1px;
            }
            h1{
                color:white;
                font-size: 3em;
            }
            section{
                padding: 20px;
                border-style:solid;
                border-width: 1px;
            }
            footer{
                background:#444444;
                border-style:solid;
                border-width: 1px;
            }
            h3{
                color:white;
                padding: 20px;
                font-size: 1.2em;
            }
            .boton{
                padding-top:20px;
                text-align:center;
            }
            button{
                padding:25px;
                background-color:#3390FF;
                border-radius:13px;
                color:white;
                font-weight: bold;
            }
            p{
                font-size: 1.2em;
            }
            h2{
                font-size: 1.9em;
            }
    

    body
        header 
            h1 SKELETON
        section
            h2 Password recovery
            p Hi #{name}! 
            p We have received your request to recover your password, you can do it from the following link:
            |
            .boton
                a(href=`${URL}`) 
                    button(type="button") Recover password
            |
            |
            p This email was generated for the email #{email}, if it is not you, please ignore this email.
        footer
            h3 Copyright